# =========================
# Python defaults
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# IDE / Editor configs
.vscode/
.idea/

# OS-specific
.DS_Store

# =========================
# Project-specific ignores
# =========================

# Image sets (skip uploading large assets to GitHub)
medium_set/
hard_set/
*.gif

# Logs
*.log
