# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
.env/
.venv/

# IDE settings
.vscode/
.idea/

# MacOS
.DS_Store

# Project-specific: skip large image sets
medium_set/
hard_set/
*.gif

# Logs
*.log


